<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="cognitiveclass.ai logo"  />
</center>

# Machine Learning Foundation

## Course 4, Part e: Non-Negative Matrix Factorization DEMO

This exercise illustrates usage of Non-negative Matrix factorization and covers techniques related to sparse matrices and some basic work with Natural Langauge Processing.  We will use NMF to look at the top words for given topics.

## Data

We'll be using the BBC dataset. These are articles collected from 5 different topics, with the data pre-processed.

These data are available in the data folder (or online [here](http://mlg.ucd.ie/files/datasets/bbc.zip?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2022-01-01)). The data consists of a few files. The steps we'll be following are:

*   *bbc.terms* is just a list of words
*   *bbc.docs* is a list of artcles listed by topic.

At a high level, we're going to

1.  Turn the `bbc.mtx` file into a sparse matrix (a [sparse matrix](https://docs.scipy.org/doc/scipy/reference/sparse.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2022-01-01) format can be useful for matrices with many values that are 0, and save space by storing the position and values of non-zero elements).
2.  Decompose that sparse matrix using NMF.
3.  Use the resulting components of NMF to analyze the topics that result.

## Data Setup

Note: This lab has been updated to work in skillsnetwork for your convenience.

In [1]:
import urllib

In [2]:
with urllib.request.urlopen('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML0187EN-SkillsNetwork/labs/module%203/data/bbc.mtx') as r:
    content = r.readlines()[2:]

## Part 1

Here, we will turn this into a list of tuples representing a [sparse matrix](https://docs.scipy.org/doc/scipy/reference/sparse.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2022-01-01). Remember the description of the file from above:

*   *bbc.mtx* is a list: first column is **wordID**, second is **articleID** and the third is the number of times that word appeared in that article.

So, if word 1 appears in article 3, 2 times, one element of our list will be:

`(1, 3, 2)`

In [3]:
sparsemat = [tuple(map(int,map(float,c.split()))) for c in content]
# Let's examine the first few elements
sparsemat[:8]

[(1, 1, 1),
 (1, 7, 2),
 (1, 11, 1),
 (1, 14, 1),
 (1, 15, 2),
 (1, 19, 2),
 (1, 21, 1),
 (1, 29, 1)]

## Part 2: Preparing Sparse Matrix data for NMF

We will use the [coo matrix](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.coo_matrix.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2022-01-01) function to turn the sparse matrix into an array.

In [4]:
import numpy as np
from scipy.sparse import coo_matrix
rows = [x[1]-1 for x in sparsemat]
cols = [x[0]-1 for x in sparsemat]
values = [x[2] for x in sparsemat]
coo = coo_matrix((values, (rows, cols)))

In [5]:
with urllib.request.urlopen('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML0187EN-SkillsNetwork/labs/module%203/data/bbc.terms') as r:
    content = r.readlines()
words = [c.split()[0].decode() for c in content]

In [6]:
with urllib.request.urlopen('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML0187EN-SkillsNetwork/labs/module%203/data/bbc.docs') as r:
    docs = r.readlines()
    docs = [i.decode().replace('\n','') for i in docs]

In [7]:
import pandas as pd
pd.DataFrame(coo.toarray(),columns = words, index = docs)

,ad,sale,boost,time,warner,profit,quarterli,media,giant,jump,...,Â£339,denialofservic,ddo,seagrav,bot,wirelessli,streamcast,peripher,headphon,flavour
business.001,1,5,2,3,4,10,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
business.002,0,0,1,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
business.003,0,4,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
business.004,0,1,0,0,0,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
business.005,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tech.397,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tech.398,0,0,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
tech.399,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tech.400,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tech.401,0,1,0,22,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## NMF

NMF is a way of decomposing a matrix of documents and words so that one of the matrices can be interpreted as the "loadings" or "weights" of each word on a topic.

Check out [the NMF documentation](http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.NMF.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2022-01-01) and the [examples of topic extraction using NMF and LDA](http://scikit-learn.org/0.18/auto_examples/applications/topics_extraction_with_nmf_lda.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2022-01-01).

## Part 3

Here, we will import `NMF`, define a model object with 5 components, and `fit_transform` the data created above.

In [8]:
# Surpress warnings from using older version of sklearn:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

from sklearn.decomposition import NMF
model = NMF(n_components=5, init='random', random_state=818)
doc_topic = model.fit_transform(coo)

doc_topic.shape
# we should have 9636 observations (articles) and five latent features

(2225, 5)

In [9]:
# find feature with highest value per doc
np.argmax(doc_topic, axis=1)

array([1, 1, 1, ..., 3, 3, 2])

## Part 4:

Check out the `components` of this model:

In [10]:
model.components_.shape

(5, 9635)

This is five rows, each of which is a "topic" containing the weights of each word on that topic. The exercise is to *get a list of the top 10 words for each topic*. We can just store this in a list of lists.

**Note:** Just like we read in the data above, we'll have to read in the words from the `bbc.terms` file.

In [11]:
topic_word = pd.DataFrame(model.components_.round(3),
                         index = ['Topic_1','Topic_2','Topic_3','Topic_4','Topic_5'],
                         columns = words)

In [12]:
topic_word.sort_values(by='Topic_1', axis=1, ascending=False)

,parti,labour,govern,elect,blair,peopl,tori,minist,plan,brown,...,60bn,spice,fabric,fathom,jai,tidal,serg,hanov,marin,flavour
Topic_1,7.272,6.86,6.403,5.984,5.031,4.832,4.168,4.078,3.491,3.331,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
Topic_2,0.000,0.00,2.868,0.000,0.000,1.661,0.000,0.468,0.919,0.320,...,0.014,0.005,0.002,0.008,0.009,0.017,0.015,0.004,0.000,0.001
Topic_3,0.000,0.00,0.000,0.000,0.000,0.960,0.000,0.000,0.000,0.000,...,0.000,0.007,0.013,0.000,0.005,0.000,0.019,0.000,0.022,0.000
Topic_4,0.000,0.00,0.000,0.000,0.000,6.515,0.000,0.000,0.378,0.000,...,0.000,0.000,0.033,0.000,0.009,0.000,0.000,0.029,0.114,0.020
Topic_5,0.000,0.00,0.000,0.000,0.000,1.826,0.000,0.000,0.000,0.000,...,0.000,0.001,0.000,0.003,0.019,0.000,0.000,0.000,0.000,0.000

In [13]:
topic_words = []
for r in model.components_:
    a = sorted([(v,i) for i,v in enumerate(r)],reverse=True)[0:12]
    topic_words.append([words[e[1]] for e in a])

In [14]:
# Here, each set of words relates to the corresponding topic (ie the first set of words relates to topic 'Business', etc.)
topic_words[:5]

[['parti',
  'labour',
  'govern',
  'elect',
  'blair',
  'peopl',
  'tori',
  'minist',
  'plan',
  'brown',
  'sai',
  'told'],
 ['year',
  'increas',
  'wage',
  'compani',
  'busi',
  'minimum',
  'govern',
  'rate',
  'market',
  'economi',
  'pai',
  'rise'],
 ['game',
  'plai',
  'time',
  'player',
  'world',
  'first',
  'win',
  'get',
  'go',
  'on',
  'england',
  'two'],
 ['peopl',
  'mobil',
  'phone',
  'technolog',
  'servic',
  'music',
  'digit',
  'user',
  'network',
  'on',
  'tv',
  'system'],
 ['best',
  'song',
  'music',
  'year',
  'award',
  'film',
  '25',
  'angel',
  'robbi',
  'british',
  'think',
  'vote']]

The original data had 5 topics, as listed in `bbc.docs` (which these topic words relate to).

```
Business
Entertainment
Politics
Sport
Tech
```

In "real life", we would have found a way to use these to inform the model. But for this little demo, we can just compare the recovered topics to the original ones. And they seem to match reasonably well. The order is different, which is to be expected in this kind of model.

In [15]:
topic_doc = pd.DataFrame(doc_topic.round(3),
                         index = [i.split('.')[0] for i in docs],
                         columns = ['Topic_1','Topic_2','Topic_3','Topic_4','Topic_5'])

In [21]:
topic_doc.sort_values(by='Topic_1', axis=0, ascending=False)

               Topic_1  Topic_2  Topic_3  Topic_4  Topic_5
politics         2.128    0.319    0.114    0.344    0.284
politics         1.670    0.000    0.099    0.042    0.127
politics         0.793    0.000    0.000    0.000    0.008
politics         0.659    0.000    0.000    0.182    0.000
politics         0.647    0.000    0.000    0.000    0.000
...                ...      ...      ...      ...      ...
entertainment    0.000    0.100    0.032    0.012    0.070
entertainment    0.000    0.019    0.026    0.000    0.094
entertainment    0.000    0.000    0.000    0.000    0.310
entertainment    0.000    0.002    0.000    0.000    0.150
tech             0.000    0.000    3.862    0.064    0.000

[2225 rows x 5 columns]

In [25]:
topic_doc.reset_index().groupby('index').mean().idxmax()

Topic_1         politics
Topic_2         business
Topic_3            sport
Topic_4             tech
Topic_5    entertainment
dtype: object

In [26]:
topic_word.T.sort_values(by='Topic_1', axis=0, ascending=False)

         Topic_1  Topic_2  Topic_3  Topic_4  Topic_5
parti      7.272    0.000    0.000    0.000      0.0
labour     6.860    0.000    0.000    0.000      0.0
govern     6.403    2.868    0.000    0.000      0.0
elect      5.984    0.000    0.000    0.000      0.0
blair      5.031    0.000    0.000    0.000      0.0
...          ...      ...      ...      ...      ...
tidal      0.000    0.017    0.000    0.000      0.0
serg       0.000    0.015    0.019    0.000      0.0
hanov      0.000    0.004    0.000    0.029      0.0
marin      0.000    0.000    0.022    0.114      0.0
flavour    0.000    0.001    0.000    0.020      0.0

[9635 rows x 5 columns]

***

### Machine Learning Foundation (C) 2020 IBM Corporation